@import 'errors.css';

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.game {
    --square-size: 64px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game-board {
    margin-bottom: calc(3 * var(--square-size) / 8);
    margin-top: calc(3 * var(--square-size));
}

.game-info {
    font-size: calc(3 * var(--square-size) / 8);
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: calc(3 * var(--square-size) / 4);
    font-weight: bold;
    line-height: var(--square-size);
    height: var(--square-size);
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: var(--square-size);
}
